@mixin heading-font {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.25px;
}

.vis-piece-shape,
.vis-group-shape {
    border-radius: 8px;

    .button {
        width: 40px;
        height: 18px;
        line-height: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        @include heading-font;
        font-size: 4px;
        white-space: nowrap;
        color: #fff;
        background: hsl(212, 93%, 21%);
        border-radius: 4px;
        padding: 4px;
        cursor: pointer;
        text-align: center;
        gap: 4px;
        pointer-events: all;
        border: 1px solid hsl(203, 100%, 35%);

        &.active {
            border-color: #4CAF50;
        }

        &:hover {
            background: hsl(212, 93%, 25%);
        }
    }

    .dataset-display,
    .spec-display {
        font-size: 6px;
        font-family: monospace;
        text-overflow: ellipsis;
        overflow: auto;
        white-space: pre-wrap;
        pointer-events: all;

        padding: 6px;
        position: absolute;
        background: rgb(43, 64, 80);
        color: #fff;
        border-radius: 4px;
        user-select: text;
        cursor: text;
    }

    .speech-to-vis-piece-icon,
    .speech-to-vis-group-icon {
        width: 17px;
        height: 17px;
        background: #ccc;
        color: #000;
        border-radius: 2px;
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        pointer-events: all;

        &:hover {
            background: #ddd;
        }

        &:after {
            font-family: 'Material Icons';
            content: 'mic';
        }

        &.listening {
            background: #4CAF50;
            color: #fff;

            &:after {
                animation: pulse 1.5s infinite;
            }
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
    }

    .speech-to-vis-piece-icon {
        bottom: -8px;
        left: -8px;
        transform: translate(-100%, 100%);
    }

    .speech-to-vis-group-icon {
        bottom: -8px;
        left: 12px;
        transform: translate(-50%, 100%);
    }
}

.vis-piece-shape {
    background-color: #fff;
    border: 1.5px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;

    .button-slider {
        position: absolute;
        appearance: none;
        border-radius: 4px;
        background: hsl(212, 93%, 21%);
        width: 128px;
        height: 8px;
        margin: 0;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: hsl(203, 100%, 35%);
            cursor: pointer;
        }
    }

    .lock-button {
        bottom: -8px;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    .dataset-button {
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .edit-value-button {
        right: -8px;
        top: 50%;
        transform: translate(50%, -50%) rotate(-90deg) translate(0, 50%);
    }

    .edit-axis-button {
        left: -8px;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg) translate(0, 50%);
    }

    .path,
    .content {
        font-family: monospace;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 6px;
        width: 100%;
        text-align: center;
        resize: none;
        padding: 1px;
    }

    .dataset-display {
        top: -32px;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    &.theme-dataset {
        color: #000;
    }

    &.theme-visualization {
        color: #fff;
    }

    &.theme-transform {
        color: #000;
    }

    &.theme-piece {
        color: #000;
    }
}

.vis-group-shape {
    background-color: rgb(58, 83, 103);
    border: 4px solid rgb(157, 107, 10);
    color: #fff;
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.locked {
        border-radius: 50%;
        border-color: transparent;
        background: transparent;

        &:before {
            font-family: 'Material Icons';
            color: rgb(157, 107, 10);
            content: 'description';
            text-align: center;
            font-size: 96px;
            line-height: 158px;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            border: 8px solid hsl(40, 88%, 33%);
            background-color: hsl(40, 88%, 60%);
        }

        .group-name {
            color: #000;
            font-size: 14px;
            position: absolute;
            top: -2px;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }

    .group-title {
        display: flex;
        flex-direction: row;
        gap: 4px;
        width: 100%;

        .group-title-icon {
            width: 16px;
            height: 16px;
        }

        .group-name {
            text-align: left;
            flex-grow: 1;
            font-size: 12px;
        }

        input {
            width: 100%;
            text-align: left;
            font-size: 10px;
            padding: 0;
        }
    }

    .visualization-display {
        background: #ddd;
        color: #000;
        position: absolute;
        padding: 4px;
        border-radius: 4px;
        top: -32px;
        left: 50%;
        transform: translate(-50%, -100%);
        overflow: hidden;

        .vega-embed {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 2.5px;
        }

        canvas {
            border-radius: 2.5px;
        }
    }

    .spec-display {
        left: -32px;
        top: 50%;
        transform: translate(-100%, -50%);
    }

    .lock-button {
        bottom: -8px;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    .visualization-button {
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .proximity-authoring-button {
        right: -8px;
        top: 50%;
        transform: translate(50%, -50%) rotate(-90deg) translate(0, 50%);
    }

    .spec-button {
        left: -8px;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg) translate(0, 50%);
    }

    .pieces-list {
        display: flex;
        flex-direction: column-reverse;
        gap: 4px;
        overflow: auto;
        width: 100%;
        flex-grow: 1;
        justify-content: flex-end;

        .vis-piece-dummy {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .vis-piece-dummy-icon {
                width: 12px;
                height: 12px;
                border-radius: 2px;
                background: #fff;
                border: 1px solid #000;
            }

            .vis-piece-dummy-title {
                font-size: 7px;
                text-align: left;
                flex-grow: 1;
            }

            .dummy-disable-toggle {
                width: 24px;
                height: 12px;
                border-radius: 4px;
                border: 1px solid hsl(203, 100%, 35%);
                background: hsl(212, 93%, 21%);
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;

                &:before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: calc(100% - 9px);
                    width: 8px;
                    height: 8px;
                    border-radius: 2.5px;
                    background: #ddd;
                    transition: all 0.3s ease;
                }
            }

            &.overwritten {
                .vis-piece-dummy-title {
                    color: #999;
                }
            }

            &.disabled {
                .vis-piece-dummy-title {
                    color: #f00;
                }

                .dummy-disable-toggle {
                    background: hsl(212, 93%, 15%);

                    &:before {
                        left: calc(100% - 9px);
                        background: #888;
                        left: 1px;
                    }
                }
            }
        }
    }

    .group-pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        width: 100%;

        .button {
            position: relative;
            font-size: 5px;
        }

        .pagination-text {
            font-size: 8px;
        }
    }
}
